.newsletter--popup {
  width: calc(100% - 20px);
  background: linear-gradient(to bottom, #0c2157 0%, #0067b1 100%);
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 30px;
  padding: 20px 4px;
  z-index: 9999;

  .form-control {
    display: block;
    background: #fff;
    height: 48px;
    line-height: 48px;
    width: 100%;
    border-radius: 24px;
    border: 0;
    color: #26214a;
    font-weight: 400;
    font-size: 1rem;
    padding: 0 80px 0 20px;

    @media screen and (min-width: 768px) {
      padding: 0 140px 0 25px;
    }
  }
}
