* {
  box-sizing: border-box;
}

@media screen and (min-width: 768px) {
  .responsive-menu-block-wrapper.responsive-menu-block {
    display: block;
  }
  #block-responsive-menu-toggle {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  header .header-top {
    position: fixed;
    width: 100%;
    max-width: 1302px;
    z-index: 999;
  }

  header .header-bottom {
    margin-top: 56px;
  }
}

.header-top .region-top-bar ul.menu li {
  display: inline-block !important;
}

header .top-box,
.top-box.visible-xs {
  display: none !important;
}

@media screen and (min-width: 768px) {
  .not-logged-in header .nav .last.leaf {
    background: rgb(255, 255, 255);
    border: 1px solid rgb(236, 25, 140);
    border-radius: 43px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 16px;
    cursor: pointer;
    padding: 6px 13px !important;
  }

  .not-logged-in header .nav .last.leaf .join-enfamil.jquery-once-20-processed,
  .not-logged-in
    header
    .nav
    .last.leaf
    .join-enfamil.jquery-once-20-processed::before {
    color: rgb(236, 25, 140) !important;
    filter: invert(20%) sepia(66%) saturate(4518%) hue-rotate(314deg)
      brightness(94%) contrast(96%) !important;
  }
}

.display-none {
  visibility: none;
  display: none;
}

.form-modal {
  padding: 40px;
  position: fixed;
  top: 10%;
  right: 50%;
  transform: translate(50%, 0);
  z-index: 9999;
  border-radius: 30px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 30px;
  width: 95%;
  height: calc(100% - 10%);
  overflow-y: auto;
  max-width: 700px;
}

@media screen and (min-width: 768px) {
  .form-modal {
    top: 56px;
    right: 10px;
    height: calc(100% - 56px);
    max-height: 705px;
    transform: translate(0, 0);
  }
}

@media screen and (min-width: 992px) {
  .form-modal {
    max-height: 800px;
  }
}

@media screen and (min-width: 1200px) {
  .form-modal {
    max-height: 920px;
  }
}

@media screen and (min-width: 1300px) {
  .form-modal {
    right: calc(50% - 646px);
  }
}

.form-modal .heading-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-modal .close-button {
  position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  background: transparent;
  border: none;
}
.form-modal .close-button:hover {
  opacity: 0.3;
}
.form-modal .close-button:before,
.form-modal .close-button:after {
  position: absolute;
  left: 15px;
  top: 0;
  content: " ";
  height: 33px;
  width: 3px;
  background-color: #707070;
  border-radius: 10px;
}
.form-modal .close-button:before {
  transform: rotate(45deg);
}
.form-modal .close-button:after {
  transform: rotate(-45deg);
}

.form-modal .heading-wrapper .pane-title {
  color: black;
}

.form-modal form .field-type-text,
.form-modal form .field-type-datetime,
.form-modal form .field-type-list-text.field-name-field-enroll-province {
  padding: 0;
}

.form-modal .enrollment-form-indiaenfamama {
  margin-left: 0;
}

.form-modal .required-data {
  margin-bottom: 10px;
}

.form-modal form.enrollment-form-indiaenfamama .form-actions {
  margin-bottom: 0px;
}
