* {
  box-sizing: border-box;
}

.scroll--prevent {
  overflow-x: hidden;
  overflow-y: hidden;
}

.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s linear;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.3s, opacity 0.3s linear;
}

.fade-out-up {
  visibility: hidden;
  opacity: 0;
  transform: translateY(-20px);
  transition: visibility 0s 0.3s, opacity 0.3s, transform 0.3s linear;
}

.fade-in-down {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.3s, transform 0.3s linear;
}

.newsletter {
  display: none;
}

.newsletter--embedded {
  display: grid;
  width: 100%;
  background: linear-gradient(to bottom, #0c2157 0%, #0067b1 100%);
  bottom: 20px;
  right: 50%;
  padding: 18px 9px;
  z-index: 9999;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px;
}
@media screen and (min-width: 768px) {
  .newsletter--embedded {
    padding: 32px 18px;
  }
}
.newsletter--embedded .newsletter__image-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}
@media screen and (min-width: 768px) {
  .newsletter--embedded .newsletter__image-wrapper {
    height: 100%;
  }
}
.newsletter--embedded .newsletter__image {
  width: 100%;
  height: auto;
  max-width: 330px;
}
@media screen and (min-width: 768px) {
  .newsletter--embedded .newsletter__image {
    max-width: 455px;
  }
}
.newsletter--embedded h3 {
  text-transform: uppercase;
  text-align: left;
  font-size: 20px;
  font-weight: 500;
  padding-right: 35px;
  margin-bottom: 5px;
}
.newsletter--embedded .form-control,
.newsletter--embedded .form-control[type=email] {
  background: rgba(18, 18, 18, 0.2);
  height: 48px;
  line-height: 48px;
  width: 100%;
  border-radius: 24px;
  border: 1px solid #7f8fa9;
  font-weight: 400;
  font-size: 1rem;
  margin-top: 2px;
  color: white;
  padding: 0 20px;
}
.newsletter--embedded .newsletter__label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0;
  margin-bottom: 8px;
  font-size: 12px;
  letter-spacing: -0.1;
  color: white;
  line-height: 24px;
}
.newsletter--embedded .newsletter__label::after, .newsletter--embedded .newsletter__label::before {
  display: none;
}
.newsletter--embedded .newsletter__label[for=first-name] {
  grid-area: first-name;
}
.newsletter--embedded .newsletter__label[for=last-name] {
  grid-area: last-name;
}
.newsletter--embedded .newsletter__label[for=email] {
  grid-area: email;
}
.newsletter--embedded .newsletter__input {
  margin-bottom: 5px;
}
@media screen and (min-width: 768px) {
  .newsletter--embedded .newsletter__input {
    display: grid;
    gap: 0 8px;
    grid-template-areas: "first-name last-name" "email email";
  }
}
.newsletter--embedded .newsletter__submit {
  margin: 0 auto;
  display: block;
  padding: 12px 35px;
  background-color: #df2928;
  border: 2px solid white;
  border-radius: 30px;
  font-size: 1.15rem;
  text-transform: uppercase;
  color: white;
  font-weight: 700;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .newsletter--embedded .newsletter__submit {
    margin: unset;
  }
}
.newsletter--embedded .newsletter__checkbox--info label {
  padding-left: 0;
  text-decoration: underline;
}
.newsletter--embedded .newsletter__checkbox input {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  z-index: 999999;
  cursor: pointer;
}
.newsletter--embedded .newsletter__checkbox input:checked + label:after {
  opacity: 1;
}
.newsletter--embedded .newsletter__checkbox label {
  cursor: pointer;
  color: white;
  padding: 0 0 0 28px;
}
.newsletter--embedded .newsletter__checkbox label::before {
  border-radius: 5px;
  background-color: transparent;
  border-color: rgba(255, 255, 255, 0.6);
  width: 16px;
  height: 16px;
}
.newsletter--embedded .newsletter__checkbox label::after {
  width: 10px;
  height: 11px;
  background-size: 13px;
  top: 4px;
  left: 5px;
}/*# sourceMappingURL=styles.css.map */