.cmp-list__wrapper.newsletter-wrapper {
  background: rgb(245, 243, 242);
  padding: 24px 15px;
}
@media only screen and (min-width: 992px) {
  .cmp-list__wrapper.newsletter-wrapper {
    padding-left: 0px;
    padding-right: 0px;
  }
}
.cmp-list__wrapper.newsletter-wrapper .newsletter {
  font-family: Rubik, sans-serif;
  padding: 0px 8.33333%;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  width: 100%;
}

.cmp-list__wrapper.newsletter-wrapper .newsletter__top {
  width: 100%;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .cmp-list__wrapper.newsletter-wrapper .newsletter__top {
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
  }

  .cmp-list__wrapper.newsletter-wrapper .newsletter__content {
    width: 55%;
    margin-right: 5%;
  }
}
.cmp-list__wrapper.newsletter-wrapper .newsletter__title {
  margin-top: 24px;
  margin-bottom: 8px;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: 0px;
  color: rgb(54, 52, 51);
}
@media screen and (min-width: 992px) {
  .cmp-list__wrapper.newsletter-wrapper .newsletter__title {
    font-size: 48px;
    line-height: 63px;
    max-width: 480px;
  }
}
.cmp-list__wrapper.newsletter-wrapper .newsletter__description {
  margin-bottom: 16px;
  font-size: 16px;
  color: rgb(54, 52, 51);
  line-height: 22px;
}
@media screen and (min-width: 992px) {
  .cmp-list__wrapper.newsletter-wrapper .newsletter__description {
    margin-bottom: 0px;
    font-size: 20px;
    line-height: 28px;
    max-width: 643px;
  }
}
.cmp-list__wrapper.newsletter-wrapper .newsletter__description a {
  color: rgb(0, 133, 42);
}

.cmp-list__wrapper.newsletter-wrapper .newsletter__description--lds {
  font-size: 12px;
  line-height: 16.8px;
  max-width: inherit;
}

.cmp-list__wrapper.newsletter-wrapper .newsletter__form-wrapper {
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .cmp-list__wrapper.newsletter-wrapper .newsletter__form-wrapper {
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 40%;
  }
}
.cmp-list__wrapper.newsletter-wrapper .newsletter__form {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 992px) {
  .cmp-list__wrapper.newsletter-wrapper .newsletter__form {
    width: 278px;
  }
}
.cmp-list__wrapper.newsletter-wrapper .newsletter__input {
  height: 40px;
  margin-bottom: 8px;
  border: 2px solid rgb(237, 237, 237);
  background-color: white;
  padding-left: 16px;
  font-size: 16px;
  line-height: 19px;
  border-radius: 6px;
  letter-spacing: -0.24px;
  color: rgb(141, 141, 141);
}
@media only screen and (min-width: 992px) {
  .cmp-list__wrapper.newsletter-wrapper .newsletter__input {
    height: 56px;
    font-size: 20px;
    line-height: 24px;
  }
}
.cmp-list__wrapper.newsletter-wrapper
  .newsletter__input::-webkit-input-placeholder {
  color: rgb(141, 141, 141);
}

.cmp-list__wrapper.newsletter-wrapper .newsletter__input::placeholder {
  color: rgb(141, 141, 141);
}

.cmp-list__wrapper.newsletter-wrapper .newsletter__input--email {
  margin-bottom: 22px;
}

.cmp-list__wrapper.newsletter-wrapper .newsletter .newsletter__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40px;
  border: none;
  background: rgb(0, 133, 42);
  border-radius: 6px;
  letter-spacing: -0.3px;
  color: white;
  font-size: 20px;
  line-height: 24px;
}

.cmp-list__wrapper.newsletter-wrapper .newsletter .newsletter__btn:hover {
  background-color: rgb(192, 225, 202);
}
@media only screen and (min-width: 992px) {
  .cmp-list__wrapper.newsletter-wrapper .newsletter .newsletter__btn {
    height: 56px;
  }
}
.cmp-list__wrapper.newsletter-wrapper .newsletter__bottom {
  margin-top: 10px;
}
@media only screen and (min-width: 768px) {
  .cmp-list__wrapper.newsletter-wrapper .newsletter__bottom {
    margin-top: 30px;
  }
}
